.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.course-container{
  text-align: center;
}
.course-container img{
   width: 100%;
   height: 80px;
}

